<mat-card class="wrapper">
  <!-- Card Title -->
  <mat-card-title class="header">
    {{ post.headline }}
  </mat-card-title>

  <!-- Place the image directly under the title -->
  <div *ngIf="post.image_url">
    <img
      class="image"
      style="display: block; margin: 0 auto"
      [src]="[post.image_url]" />
  </div>

  <!-- Author and Date -->
  <mat-card-title class="author">
    {{
      post.author?.first_name +
        ' ' +
        post.author?.last_name +
        ': ' +
        (post.time | date: 'mediumDate')
    }}
  </mat-card-title>

  <!-- Main Story -->
  <mat-card-title class="main_story" *ngFor="let paragraph of paragraphs">
    {{ paragraph }}
  </mat-card-title>
</mat-card>
